header{
    height: 30vh;
    font-size: 50px;
    background-color: gainsboro;
    border: 1px solid black;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

main{
    display: flex;
}

.NotesContent{
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    width: 70%;
    height: 70vh;
    overflow: scroll;
}

.note{
    border: 1px solid black;
    text-emphasis: left;
}

.folderContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    width: 30%;
    height: 70vh;

}

.folderContent ul{
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.folder{
    border: 1px solid black;
    text-align: center;
    width: 100%;
}

button{
    display: inline-block;
    height: 40px;
    width: 50px;
}

li{
    list-style: none;
}

.NoteCard{
    display: flex;
}

.cardInfo{
    width: 60%;
}

.folderInfo{
    width: 40%;
}

#goBack{
    border: 1px solid black;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
}

form{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

legend, label, input, button{
    margin: 10px 0;
}

.error{
    color: red;
    font-size: 10px;
}

.clicked{
    background-color: lightblue;
}