/* Just the home screen styling */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand:wght@600&display=swap');
h1{
    font-family: Lobster;
}

button, label, li, p{
    font-family: Quicksand;
}
header{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 10vh;
    font-size: 30px;
    background-color: rgb(201, 236, 248);
    text-align: center;
}

header h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav{
    align-self: flex-end;
    display: flex;
    width: 40vw;
    justify-content: space-around;
    font-size: 15px;
}

nav img{
    width: 30px;
    height: auto;
    transition: 0.4s;
}

nav img:hover{
    width: 35px;
    height: auto;
    cursor: pointer;
}

.menuButton{
    border: none;
    background-color: transparent;
}

.menu{
    display: flex;
    padding: 10px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.menu li{
    padding: 10px;
}

.menu li:hover{
    cursor: pointer;
    color:  rgb(89, 151, 172);
}


a{
    text-decoration: none;
    color: black;
}

main{
    display: flex;
}

.folderContent, .NotesContent{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0;
    padding: 0;
    height: 90vh;
    overflow: scroll;
    border: 1px solid black;
}

.NotesContent {
    width: 70%;
}

.folderContent{
    width: 30%;
}

.note{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 10px;
}

.noteFlex{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.date{
    padding-top: 5px;
}

.deleteNote{
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    transition-duration: .4s;
}

.deleteNote:hover{
    cursor: pointer;
    background-color: rgb(89, 151, 172);
}

.folderContent ul{
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
}

.folder{
    display: flex;
    border: 1px solid lightgray;
    text-align: center;
    background-color: black;
    width: 100%;
    height: 40px;
    position: relative;
    transition-duration: 0.4s;
}

.folder img{
    width: 40px;
    height: auto;
}

.folder p{
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.folder:hover{
    cursor: pointer;
    background-color: rgb(89, 151, 172);
}

button{
    display: inline-block;
    height: 40px;
    width: 50px;
    border: none;
}

li{
    list-style: none;
}

.NoteCard{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    background-color: white;
    width: 30vw;
    border-radius: 10px;
}

textarea{
    width: 80%;
    height: 150px;
    background-color: #f8f8f8;
    padding: 10px;
}

.button-flex{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.close{
    background-color: black;
    color: white;
    margin: 5px;
    transition-duration: 0.4s;
}

.close:hover{
    background-color: rgb(72, 180, 72);
    cursor: pointer;
}

.cardInfo{
    width: 60%;
}

.folderInfo{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-content: center;

}

#goBack{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 40px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    background-color: black;
    border-radius: 5px;
    color: white;
    transition-duration: 0.4s;
}

#goBack:hover{
    background-color: rgb(72, 180, 72);
}
form{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

legend, label, input, button{
    margin: 10px 0;
}

.error{
    color: red;
    font-size: 10px;
}

.clicked{
    background-color: lightblue;
}